<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title><%= title %></title>

    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    body {
      margin-top: 50px;
    }
    </style>
  </head>
  <body>

    <%- include('_menu'); %>

    <div class="container">


    <div class="row" style="padding: 15px">
      <div class="col-sm-4">
        <img src="<%= post.picture %>" alt="" class="img-thumbnail" />
      </div>
      <div class="col-sm-8">
        <h2><%= post.title %></h2>
        <h4><%= post.short %></h4>
        <p><%= post.description %></p>
      </div>
    </div>

    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>

  </body>
</html>
